body{
    background-color: brown;
    text-align: center;
    padding: 0;
    margin-top: 300px;
}

.display{
    width: 434px;
    height: 110px;
    left: 521px;
    top: 168px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 65px;
    border: black ;
    
}

.botao{
    width: 76px;
    height: 97px;
    background: #584343;
    box-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 65px;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
}
.borda{

    border: black;



}